################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyPersonnels
/MyPersonnels/obj/Debug/netcoreapp2.0
/MyPersonnels/bin/Debug/netcoreapp2.0
/MyPersonnels/obj
